<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2010/01/31 21:08:27 mtaal Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///org/eclipse/emf/examples/library/extlibrary.ecore/1.0.0"
            class="extlibrary.ExtlibraryPackage"
            genModel="src/org/eclipse/emf/texo/test/model/extlibrary.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="extlibrary"
            class="extlibrary.util.ExtlibraryResourceFactoryImpl"/>
   </extension>

</plugin>
