<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.emf.texo.extensionpoint.annotationmodels" name="Annotation Models" schema="schema/org.eclipse.emf.texo.extensionpoint.annotationmodels.exsd"/>
   <extension-point id="org.eclipse.emf.texo.extensionpoint.modelannotators" name="Model Annotators" schema="schema/org.eclipse.emf.texo.extensionpoint.modelannotators.exsd"/>

</plugin>
